* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #7a518a;

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #d3c6d8;
}

#logo {
    font-family: 'libre_franklinbold';
}

.header-links {
    font-size: 24px;
    font-family: 'libre_franklinmedium';

    padding-right: 10px;
}

section {
    padding: 10px;

    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    color: #634b6d;
    border-collapse: collapse;
}

th {
    background-color: #d3c6d8;
    font-family: 'libre_franklinbold';
    padding-top: 10px;
    padding-bottom: 10px;
}

tr {
    border: 1px solid #634b6d;
}

td {
    border: 0;
}

#book-form-container {
    border: 1px solid #634b6d;
    width: 25vw;
    padding: 10px;
}

#book-form {
    font-family: 'libre_baskervilleregular';
    color: #634b6d;
    font-size: 15px;
}

h2 {
    font-family: 'libre_franklinbold';
    padding-bottom: 20px;
}

label {
    display: block;
}

input,
#submit,
.select {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    border: none;
    background-color: #d3c6d8;
    font-family: 'libre_franklinbold';
    color: #634b6d;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit:hover {
    background-color: #634b6d;
    color: #d3c6d8;
}





